.vs/TwoSum/DesignTimeBuild/.dtbcache.v2
.vs/TwoSum/v16/.suo
bin/Debug/netcoreapp3.1/TwoSum.deps.json
bin/Debug/netcoreapp3.1/TwoSum.dll
bin/Debug/netcoreapp3.1/TwoSum.exe
bin/Debug/netcoreapp3.1/TwoSum.pdb
bin/Debug/netcoreapp3.1/TwoSum.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/TwoSum.runtimeconfig.json
obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
obj/Debug/netcoreapp3.1/apphost.exe
obj/Debug/netcoreapp3.1/TwoSum.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/TwoSum.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/TwoSum.assets.cache
obj/Debug/netcoreapp3.1/TwoSum.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/TwoSum.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/TwoSum.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/TwoSum.dll
obj/Debug/netcoreapp3.1/TwoSum.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/TwoSum.pdb
obj/project.assets.json
obj/project.nuget.cache
obj/TwoSum.csproj.nuget.dgspec.json
obj/TwoSum.csproj.nuget.g.props
obj/TwoSum.csproj.nuget.g.targets
